<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
    <link rel="stylesheet" th:href="@{/styles/create.css}">
    <link rel="stylesheet" th:href="@{/styles/navbar.css}">
</head>
<body>
<div class="logo">
    <img class="logo" th:src="@{/images/logo.png}" alt="logo">
</div>
<div class="sidebar">
    <a th:href="@{/index}">Home</a>
    <a th:href="@{/project}">View Projects</a>
    <a th:href="@{/task}">View Tasks</a>
    <a th:href="@{/subtask}">View Subtasks</a>
</div>
<h1 class="title">Create Task</h1>
<div class="container">
    <br>
    <form action="/task/{projectId}/create" method="post">
        <table>
            <tr>
                <th><label for="task-name">Task Name:</label></th>
                <td><input id="task-name" name="task-name" type="text" required></td>
            </tr>
            <tr>
                <th><label for="task-description">Task Description:</label></th>
                <td>
                    <textarea id="task-description" name="task-description" rows="5" required></textarea>
                </td>
            </tr>
            <tr>
                <th><label for="task-status">Task Status:</label></th>
                <td>
                    <select id="task-status" name="task-status" required>
                        <option value="">Select status</option>
                        <option value="TODO">TODO</option>
                        <option value="IN_PROGRESS">IN PROGRESS</option>
                        <option value="COMPLETED">COMPLETED</option>
                    </select>
                </td>
            </tr>
        </table>
        <br>
        <div class="buttons">
            <button>
                <a th:href="@{/projects/{projectId}}" type="button">Back to Project</a>
            </button>
            <input type="submit" value="Create Task">
        </div>
    </form>
</div>
<footer>
    <p th:text="'© Code Connoisseurs, Inc. '"></p>
</footer>
</body>
</html>
