<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create User</title>
  <link rel="stylesheet" th:href="@{/styles/createUser.css}">
  <link rel="stylesheet" th:href="@{/styles/navbar.css}">
</head>
<body>
  <div class="logo">
    <a th:href="@{/index}">
      <img class="logo" th:src="@{/images/logo.png}" alt="logo">
    </a>
  </div>
  <div class="sidebar">
    <a th:href="@{/index}" class="active">Home</a>
    <a href="#">View Tasks</a>
    <a th:if="${isAdmin}" th:href="@{/adminPanel}">Admin Panel</a>
  </div>
<h1 class="title">Create User</h1>
<div class="container">
  <br>
  <form action="/createUser" method="post">
    <table>
      <tr>
        <td>
          <label for="email">User's Email:</label>
        </td>
        <td>
          <input id="email" name="email" type="text" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">User's Password:</label>
        </td>
        <td>
          <input id="password" name="password" type="password" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="hourlyWage">User's Hourly Wage:</label>
        </td>
        <td>
          <input id="hourlyWage" name="hourlyWage" type="number" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="name">User's Name:</label>
        </td>
        <td>
          <input id="name" name="name" type="text" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="admin">Admin:</label>
        </td>
        <td>
          <input id="admin" name="admin" type="checkbox" value="true">
        </td>
      </tr>
    </table>

    <div class="buttons">
      <input type="submit" value="Create User">
      <button type="button" onclick="window.location.href='/index'">Go back to Home</button>
    </div>
  </form>
</div>
<footer class="footer">
  <p th:text="'© Code Connoisseurs, Inc. '"></p>
</footer>
</body>
</html>
