<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete User</title>
  <link rel="stylesheet" th:href="@{/styles/deleteUser.css}">
  <link rel="stylesheet" th:href="@{/styles/navbar.css}">
</head>
<body>
<div class="logo">
  <img class="logo" th:src="@{/images/logo.png}" alt="logo">
</div>
<div class="sidebar">
  <a th:href="@{/index}">Home</a>
  <a th:href="@{/project}">View Projects</a>
  <a th:href="@{/task}">View Tasks</a>
  <a th:if="${isAdmin}" th:href="@{/adminPanel}">Admin Panel</a>

</div>
<div class="container">
  <h1>Delete User</h1>
  <br>
  <form action="/deleteUser" method="post">
    <label for="email">Select User:</label>
    <select id="email" name="email">
      <option value=""> Select user </option>
      <option th:each="user : ${userList}" th:text="${user.name}" th:value="${user.mail}"></option>
    </select>
    <div class="buttons">
      <input type="submit" value="Delete Selected User">
      <button type="button" onclick="window.location.href='/index'">Go back to Home</button>
    </div>
  </form>
</div>
<footer class="footer">
  <p th:text="'© Code Connoisseurs, Inc. '"></p>
</footer>
</body>
</html>
