<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{styles/index.css}">
    <link rel="stylesheet" th:href="@{styles/navbar.css}">
</head>
<body>
<div class="logo">
    <img class="logo" src="images/logo.png" alt="logo">
</div>
<div class="sidebar">
    <a th:href="@{/index}" class="active">Home</a>
    <a href="#">View Tasks</a>
    <a th:if="${isAdmin}" th:href="@{/adminPanel}">Admin Panel</a>
</div>
<div class="container">
    <div class="project-card" th:each="project : ${project}">
        <h3 th:text="${project.projectTitle}"></h3>
        <p th:text="${project.projectDescription}"></p>
        <small class="deadline" th:text="${project.deadline}"></small>
        <br>
        <a th:href="@{'/project/' + ${project.projectID}}">Open Project</a>
        <a th:if="${isAdmin}" th:href="@{'/delete/' + ${project.projectID}}">Delete Project</a>
        <a th:if="${isAdmin}" th:href="@{'/update/' + ${project.projectID}}">Update Project</a>

    </div>
</div>
<div class="create-button">
    <a th:href="@{/create}">Create a new project</a>
</div>
<footer class="footer">
    <p>© Code Connoisseurs, Inc.</p>
</footer>

</body>
</html>

