<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>

<div class="logo">
    <img class="logo" src="../static/images/logo.png" alt="logo">
</div>
<div class="sidebar">
    <a href="#" class="active">Home</a>

    <a href="#">View Projects</a>
    <a href="#">View Tasks</a>
    <a href="#">View Subtasks</a>

</div>



<footer class="footer">
    <p>Copyright © Code Connoisseurs, Inc.
</footer>


</body>
</html>