<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles/index.css}">
    <link rel="stylesheet" th:href="@{/styles/navbar.css}">
</head>
<body>

<div class="logo">
    <img class="logo" th:src="@{/images/logo.png}" alt="logo">
</div>
<div class="sidebar">
    <a th:href="@{/index}" class="active">Home</a>

    <a href="#">View Projects</a>
    <a href="#">View Tasks</a>
    <a href="#">View Subtasks</a>
    <a th:if="${isAdmin}" href="#">Admin Panel</a>
</div>
<div class="container">
    <table>
        <thead>
        <tr>
        <th> Name </th>
        <th> Description </th>
        <th> Open Project </th>
        </tr>
        <th> Delete Project </th>

        </thead>

        <tbody>

        <tr th:each="alpha : ${alpha}">
            <td th:text="${alpha.projectTitle}"></td>
            <td th:text="${alpha.projectDescription}"></td>

            <td>
                <a th:href="@{'/project/' + ${alpha.projectID}}">Open</a>
            </td>
        </tr>


            <td> <a th:href="@{'/project/' + ${alpha.projectID}}" > Open </a> </td>

            <td> <a th:href="@{'/delete/' + ${alpha.projectID}}" > Delete </a> </td>

        <td> <a th:href="@{'/update/'+ ${alpha.projectID}}" href="update.html"> Update </a> </td>


        </tbody>

    </table>

</div>
    <button>
      <a th:href="@{/create}">Create a new project</a>
</button>
<footer class="footer">
    <p th:text="'© Code Connoisseurs, Inc. '"></p>
</footer>

</body>
</html>
