<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" th:href="@{/styles/project.css}">
    <link rel="stylesheet" th:href="@{/styles/navbar.css}">
</head>
<body>
<div class="logo">
    <a th:href="@{/index}">
        <img class="logo" th:src="@{/images/logo.png}" alt="logo">
    </a>
</div>
<div class="sidebar">
    <a th:href="@{/index}" class="active">Home</a>
    <a href="#">View Tasks</a>
    <a th:if="${isAdmin}" th:href="@{/adminPanel}">Admin Panel</a>
</div>
<table>
    <thead>
    <tr>
        <th>Project Title</th>
        <th>Project Description</th>
        <th>Deadline</th>
        <th>Est Project Price</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="project : ${project}">
        <td th:text="${project.projectTitle}"></td>
        <td th:text="${project.projectDescription}"></td>
        <td th:text="${project.deadline}"></td>

    </tbody>
</table>
<h1 class="active">Active Tasks: <span th:text="${tasks.size()}"></span></h1>
<table>
    <thead>
    <tr>
        <th>Task Name</th>
        <th>Task Description</th>
        <th>Estimated time consumption (Hrs)</th>
        <th>Task Deadline</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.taskDescription}"></td>
        <td th:text="${task.taskNrOfHours}"></td>
        <td th:text="${task.taskDeadline}"></td>

    </tr>
    </tbody>
</table>

<div>
    <button onclick="addTask()">Create Task</button>
    <a class="button" th:href="@{/task/{projectID}(projectID=${projectID})}">Create Task</a>
</div>

<footer class="footer">
    <p th:text="'© Code Connoisseurs, Inc. '"></p>
</footer>

</body>
</html>