<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" th:href="@{/styles/project.css}">
    <link rel="stylesheet" th:href="@{/styles/navbar.css}">
</head>
<body>

<div class="logo">
    <img class="logo" th:src="@{/images/logo.png}" alt="logo">
</div>
<div class="sidebar">
    <a href="#" class="active">Home</a>
    <a href="#">View Projects</a>
    <a href="#">View Tasks</a>
    <a href="#">View Subtasks</a>
</div>

<table>
    <thead>
    <tr>
        <th> Project Title </th>
        <th> Deadline </th>
        <th> Description </th>
        <th> Number of Hours </th>
        <th> Number of Users </th>
        <th> Project Price </th>
        <th> Hours per day </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${project.getProjectTitle()}"></td>
        <td th:text="${project.getDeadline()}"></td>
        <td th:text="${project.getProjectDescription()}"></td>
        <td th:text="${project.getNrOfHours()}"></td>
        <td th:text="${project.getNrOfUsers()}"></td>
        <td th:text="${project.getProjectPrice()}"></td>
        <td th:text="${project.getHoursPerDay()}"></td>
    </tr>
    </tbody>
</table>

<footer class="footer">
    <p th:text="'© Code Connoisseurs, Inc. '"></p>
</footer>

</body>
</html>
