<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Task</title>
  <link rel="stylesheet" th:href="@{/styles/task.css}">
  <link rel="stylesheet" th:href="@{/styles/navbar.css}">
</head>
<body>
<div class="logo">
  <a th:href="@{/index}">
    <img class="logo" th:src="@{/images/logo.png}" alt="logo">
  </a>
</div>
<div class="sidebar">
  <a th:href="@{/index}" class="active">Home</a>
  <a href="#">View Tasks</a>
  <a th:if="${isAdmin}" th:href="@{/adminPanel}">Admin Panel</a>
</div>
  <br>
  <form method="post" th:action="@{'/task/' + ${projectID} + '/createTask'}" >
    <div class="container">
      <h1> Create Task </h1>
    <div>
      <label for="task-title">Task Title:</label>
      <input id="task-title" name="taskName" type="text" required>
    </div>
    <div>
      <label for="user-id">Select User:</label>
      <select id="user-id" name="userID" required>
        <option value="">Select user(s)</option>
        <option th:each="user : ${userList}" th:text="${user.name}"></option>
      </select>
    </div>
      <div>
      <label for="task-description">Task Description:</label>
      <textarea id="task-description" name="taskDescription" rows="5" required></textarea>
    </div>
    <div>
      <label for="deadline">Deadline:</label>
      <input id="deadline" name="taskDeadline" type="date" required>
    </div>
    <div>
      <label for="nr-of-hours">Number of Hours:</label>
      <input id="nr-of-hours" name="numberOfHours" type="number" required>
    </div>
    <div>
      <label for="hours-per-day">Hours per Day:</label>
      <input id="hours-per-day" name="hoursPerDay" type="number" required>
    </div>
    </div>


    <br>
    <div class="buttons">
     <button a th:href="@{/index}" class="button-link">Back to Home</a> </button>
      <button type="submit">Create Task</button>
    </div>
  </form>
</div>
<footer>
  <p th:text="'© Code Connoisseurs, Inc. '"></p>
</footer>

</body>
</html>