<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Task</title>
  <link rel="stylesheet" th:href="@{/styles/create.css}">
  <link rel="stylesheet" th:href="@{/styles/navbar.css}">
</head>
<body>
<div class="logo">
  <img class="logo" th:src="@{/images/logo.png}" alt="logo">
</div>
<div class="sidebar">
  <a th:href="@{/index}">Home</a>
  <a th:href="@{/project}">View Projects</a>
  <a th:href="@{/task}">View Tasks</a>
  <a th:href="@{/subtask}">View Subtasks</a>
</div>
<h1 class="title">Create Task</h1>
<div class="container">
  <br>
  <form th:action="@{/task/{projectID}/showCreateTask(projectID=${projectID})}" method="get">
    <div>
      <label for="task-title">Task Title:</label>
      <input id="task-title" name="taskName" type="text" required>
    </div>
    <div>
      <label for="user-id">Select User:</label>
      <select id="user-id" name="userID" required>
        <option value="">Select user(s)</option>
        <option th:each="user : ${userList}" th:text="${user.name}"></option>
      </select>
    </div>
    <div>
      <label for="task-description">Task Description:</label>
      <textarea id="task-description" name="taskDescription" rows="5" required></textarea>
    </div>
    <div>
      <label for="deadline">Deadline:</label>
      <input id="deadline" name="deadline" type="date" required>
    </div>
    <div>
      <label for="nr-of-users">Number of Users:</label>
      <input id="nr-of-users" name="numberOfUsers" type="number" required>
    </div>
    <div>
      <label for="nr-of-hours">Number of Hours:</label>
      <input id="nr-of-hours" name="numberOfHours" type="number" required>
    </div>
    <div>
      <label for="project-price">Project Price:</label>
      <input id="project-price" name="projectPrice" type="number" step="0.01" required>
    </div>
    <div>
      <label for="hours-per-day">Hours per Day:</label>
      <input id="hours-per-day" name="hoursPerDay" type="number" required>
    </div>

    <br>
    <div class="buttons">
      <a th:href="@{/index}" class="button-link">Back to Home</a>
      <button type="submit">Create Task</button>
    </div>
  </form>
</div>
<footer>
  <p th:text="'© Code Connoisseurs, Inc. '"></p>
</footer>

</body>
</html>