<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Project</title>
    <link rel="stylesheet" th:href="@{/styles/create.css}">
    <link rel="stylesheet" th:href="@{/styles/navbar.css}">
</head>
<body>
<div class="logo">
    <img class="logo" th:src="@{/images/logo.png}" alt="logo">
</div>
<div class="sidebar">
    <a th:href="@{/index}">Home</a>
    <a th:href="@{/project}">View Projects</a>
    <a th:href="@{/task}">View Tasks</a>
    <a th:href="@{/subtask}">View Subtasks</a>
</div>
<h1 class="title">Update Project</h1>
<div class="container">
    <br>
    <form action="/update" method="post">
        <input  name="projectID" type="hidden" required th:value="${projectID}">
        <table>

            <tr>
                <th><label for="projectTitle">Project Title:</label></th>
                <td><input id="projectTitle" name="projectTitle" type="text" required th:value="${project.projectTitle}"></td>
            </tr>

            <tr>
                <th><label for="projectDescription">Project Description:</label></th>
                <td>
                    <input id="projectDescription" name="projectDescription" rows="5" type="text "required th:value="${project.projectDescription}">
                </td>
            </tr>
            <tr>
                <th><label for="deadline">Deadline:</label></th>
                <td><input id="deadline" name="deadline" type="date" required th:value="${project.deadline}"></td>
            </tr>
            <tr>
                <th><label for="nrOfUsers">Number of Users:</label></th>
                <td><input id="nrOfUsers" name="nrOfUsers" type="number" required th:value="${project.nrOfUsers}"></td>
            </tr>
            <tr>
                <th><label for="nrOfHours">Number of Hours:</label></th>
                <td><input id="nrOfHours" name="nrOfHours" type="number" required th:value="${project.nrOfHours}"></td>
            </tr>
            <tr>
                <th><label for="projectPrice">Project Price:</label></th>
                <td><input id="projectPrice" name="projectPrice" type="number" step="0.01" required th:value="${project.projectPrice}"></td>
            </tr>
            <tr>
                <th><label for="hoursPerDay">Hours per Day:</label></th>
                <td><input id="hoursPerDay" name="HoursPerDay" type="number" required th:value="${project.hoursPerDay}"></td>
            </tr>
        </table>
        <br>
        <div class="buttons">
            <input type="submit" value="Update Project">
            <button>
                <a th:href="@{/index}" type="button" onclick="window.location.href='/index.html'">Back to Home</a>
            </button>
        </div>
    </form>
</div>
<footer>
    <p th:text="'© Code Connoisseurs, Inc. '"></p>
</footer>
</body>
</html>
