<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
    <link rel="stylesheet" th:href="@{/styles/create.css}">
    <link rel="stylesheet" th:href="@{/styles/navbar.css}">
</head>
<body>
<div class="logo">
    <img class="logo" th:src="@{/images/logo.png}" alt="logo">
</div>
<div class="sidebar">
    <a th:href="@{/index}" class="active">Home</a>
    <a href="#">View Tasks</a>
    <a th:if="${isAdmin}" th:href="@{/adminPanel}">Admin Panel</a>
</div>
<div class="container">
    <br>
    <form class="form" th:action="@{/update/{projectID}(projectID=${project.projectID})}" method="post">
        <h1 class="title">Create Project</h1>
        <table>
            <tr>
                <th><label for="project-title">Project Title:</label></th>
                <td><input id="project-title" name="project-title" type="text" th:value="${project.projectTitle}" required></td>
            </tr>
            <tr>

            </tr>
            <tr>
                <th>
                    <label for="project-description">Project Description:</label></th>
                <td>
                    <textarea id="project-description" name="project-description" rows="5" required th:text="${project.projectDescription}"></textarea>
                </td>
            </tr>
            <tr>
                <th><label for="deadline">Deadline:</label></th>
                <td><input id="deadline" name="deadline" type="date" required th:value="${project.deadline}"></td>
            </tr>
            <tr>
                <th>
                    <label hidden="hidden" for="hours-per-day">Hours per Day:</label></th>
                <td>
                    <input hidden="hidden" id="hours-per-day" name="hours-per-day" type="number" required th:value="${project.hoursPerDay}"></td>
            </tr>
        </table>
        <br>
        <div class="buttons">
            <input type="submit" value="Update Project">
            <button>
                <a th:href="@{/index}" type="button" onclick="window.location.href='/projects'">Back to Home</a>
            </button>
        </div>
    </form>
</div>
<footer>
    <p th:text="'© Code Connoisseurs, Inc. '"></p>
</footer>

</body>
</html>
