
.description {
    width: 200px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 60%;
}

.btn:hover {
    background-color: #0056b3;
}

button {


    position: fixed;
    bottom: 15%;
    right: 5.3%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;

}

#create-project-btn:hover {
    background-color: #0056b3;
}

table {
    margin-left: 25%;
    margin-right: 5%;
    margin-top: 13%;
    width: 70%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #ccc;
}

td {
    padding: 8px;
    border: 1px solid #ccc;
}


tr:hover {
    background-color: #f5f5f5;
}
















