

.logo {
    position: fixed;
    top: 5%;
    left: 0;
    padding: 0;
}
.logo img {
    width: 17%;
    height: auto;
}

.sidebar {
    height: 100%;
    width: 17%;
    position: fixed;
    top: 175px;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    padding-top: 20px;

}

.sidebar a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    line-height: 1.5;
    position: relative;
    border-radius: 10px;

}


.sidebar a:hover {
    background-color: red;

}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 2% 2% 1% 2%;
    height: 50px;
}














