.container {
    margin: 10% 5% 0 23%;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    text-align: left;
    width: 70%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.container input[type="text"],
.container select,
.container textarea,
.container input[type="date"],
.container input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttons {
    margin-top: 20px;
    text-align: right;
    margin-left: 80%;

}

